:root {
/* Color styles */
--dark--charcoal: #312E2C;
--dark--raspberry: #7A284E;
--brandy--red: #854632;
--wenge--brown: #5F564D;
--eggshell: #F3E5D7;
--white--coffee: #E3DDD7;
--snow: #FFF7FB;
--white: #FFFFFF;

/* Text-size styles */
--heading--l: 40px;
--heading--m: 28px;
--heading--s: 20px;
--body--regular: 16px;
--body--bold: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--eggshell);
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
hr {
    width: 100%;
    border-top: 1px solid var(--white--coffee);
}
.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px;
    margin: auto;
    margin-top:123px;
    max-width: 740px;
}
.img {
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 40px;
}
.img img {
    max-width: 100%;
}
.recipe {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.head h3 {
    color: var(--dark--charcoal);
    font-size: var(--heading--l);
    font-family: "Young Serif";
    font-weight: 400;
}
.head p {
    font-size: var(--body--regular);
    line-height: 1.5;
    font-family: "outfit";
    color: var(--wenge--brown);
}
.Preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--snow);
    padding: 28px;
    border-radius: 12px;
    width: 100%;
    gap: 16px;
}
.Preparation h3 {
    color: var(--dark--raspberry);
    font-size: var(--heading--s);
    font-weight: 600;
    font-family: "outfit";
}
.Preparation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}
.Preparation ul li {
    position: relative;
    color: var(--wenge--brown);
    font-size: var(--body--regular);
    font-family: "outfit";
    font-weight: 400;
    padding-left: 32px;
}
.Preparation ul li span {
    font-weight: 700;
}
.Preparation ul li::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dark--raspberry);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.Ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}
.Ingredients h3 {
    color: var(--brandy--red);
    font-size: var(--heading--m);
    font-family: "Young Serif";
    font-weight: 400;
}
.Ingredients ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}
.Ingredients ul li {
    position: relative;
    color: var(--wenge--brown);
    font-size: var(--body--regular);
    font-family: "outfit";
    font-weight: 400;
    padding-left: 32px;
}
.Ingredients ul li span {
    font-weight: 700;
}
.Ingredients ul li::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dark--raspberry);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.Instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}
.Instructions h3 {
    color: var(--brandy--red);
    font-size: var(--heading--m);
    font-family: "Young Serif";
    font-weight: 400;
}
.Instructions ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
    counter-reset: Instructions;
}
.Instructions ul li {
    position: relative;
    color: var(--wenge--brown);
    font-size: var(--body--regular);
    font-family: "outfit";
    font-weight: 400;
    padding-left: 32px;
}
.Instructions ul li span {
    font-weight: 700;
}
.Instructions ul li::before {
    position: absolute;
    content: counter(Instructions)".";
    counter-increment: Instructions;
    left: 0px;
    color: var(--brandy--red);
    font-size: var(--body--bold);
    font-weight: 700;
}
.Nutrition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}
.Nutrition h3 {
    color: var(--brandy--red);
    font-size: var(--heading--m);
    font-family: "Young Serif";
    font-weight: 400;
}
.Nutrition p {
    font-size: var(--body--regular);
    color: var(--wenge--brown);
    font-family: "outfit";
}
.Nutrition table {
    width: 100%;

}
.Nutrition tr td:nth-of-type(1) {
    color: var(--wenge--brown);
    font-size: var(--body--regular);
    font-family: "outfit";
}
.Nutrition tr td:nth-of-type(2) {
    color: var(--brandy--red);
    font-size: var(--body--bold);
    font-weight: 700;
    font-family: "outfit";
}
.Nutrition tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}
.Nutrition tr:not(:last-child) td {
    border-bottom: solid var(--white--coffee) 1px ;
}
@media screen and (max-width:500px) {
    .card {
        margin: auto;
        border-radius: 0;
        padding: 0;
    }
    .img {
        border-radius: 0;
    }
    .recipe {
        padding: 40px;
    }
}
