:root {
    --yellow: #F4D04E;
    --white:#FFFFFF;
    --gray-950:#111111;
    --gray-500:#6B6B6B;
    --Spacing-200:16px;
    --Spacing-150:12px;
    --Spacing-100:8px;
    --Spacing-50:4px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    font-family: "Figtree" , sans-serif;
    font-size: 62.5%;
} 
.Figtree-Extra-Bold {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: 0;
}
.Figtree-Extra-Bold-2 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: 0;
}
.Figtree-Medium {
    font-size: 1,6rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}
.Figtree-Medium-2 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}
body {
    background-color: var(--yellow);
}